---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import FredMap from "../assets/FrederictonMap.png";
let linkStyle =
  "text-wrap cursor-pointer hover:underline hover:text-lime-700 focus:underline focus:text-lime-700 underline-offset-4 decoration-2 decoration-lime-700";
---

<footer
  class="px-auto grid w-screen grid-cols-2 justify-center gap-4 bg-slate-700 px-4 py-8 font-sans text-white md:grid-cols-[minmax(100px,250px)_250px_250px_minmax(100px,250px)] md:py-20"
>
  <div class="">
    <h3 class="pb-6 text-lg font-semibold">Pages</h3>
    <ul>
      <li><a class={linkStyle} href="/">Welcome</a></li>
      <li><a class={linkStyle} href="/about">About</a></li>
      <li><a class={linkStyle} href="/services">Services</a></li>
    </ul>
  </div>
  <div class="">
    <h3 class="pb-6 text-lg font-semibold">Services</h3>
    <ul>
      <li>
        <a class={linkStyle} href="/services">Next Gen Web App Development</a>
      </li>
      <li>
        <a class={linkStyle} href="/services"
          >Custom Website For Your Business</a
        >
      </li>
    </ul>
  </div>
  <div class="col-span-full sm:col-span-1">
    <h3 class="pb-6 text-lg font-semibold">Contact Information</h3>
    <ul>
      <li class="mr-auto h-[267px] max-w-[382px] sm:h-[175px] sm:w-[250px]">
        <Image
          style="content-visibility: auto;"
          src={FredMap}
          alt="Map of Fredericton, NB"
          width={788}
          height={552}
        />
      </li>
      <li><p>Fredericton, NB</p></li>
      <li>
        <address>
          <a
            class={`${linkStyle} flex flex-wrap`}
            href="mailto:tranquilla.nathan@pm.me?subject=Inquiry"
            ><span>tranquilla</span><span>.nathan@pm.me</span></a
          >
        </address>
      </li>
    </ul>
  </div>
  <div
    class="col-span-full row-start-1 flex flex-col items-start justify-start md:col-start-4"
  >
    <p class="pb-6 font-semibold">Take the next step. Book today!</p>
    <Button href="/consultation">Schedule Consultation</Button>
  </div>
  <div
    class="col-span-2 mt-8 border-t border-slate-600 pt-6 text-center md:col-span-4"
  >
    <p class="text-sm text-slate-300">
      © {new Date().getFullYear()} Nathan Tranquilla. All rights reserved.
    </p>
  </div>
</footer>
