---
import "../styles/global.css";
import Body from "../components/Body.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Import logo assets
import logo16 from "../assets/logo_16x16.jpg";
import logo32 from "../assets/logo_32x32.jpg";
import logo48 from "../assets/logo_48x48.jpg";
import logo96 from "../assets/logo_96x96.jpg";
import logo180 from "../assets/logo_180x180.jpg";
import logo192 from "../assets/logo_192x192.jpg";
import logo256 from "../assets/logo_256x256.jpg";
import logo512 from "../assets/logo_512x512.jpg";

export interface Props {
  title: string;
  classes?: string;
  nonav?: boolean;
}

const { title, classes, nonav = false } = Astro.props;

const websiteUrl = "https://nathantranquilla.me";
const canonicalUrl = new URL(Astro.url.pathname, websiteUrl).href;
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MCZFYVP6CG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MCZFYVP6CG');
    </script>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{title}</title>
    <meta
      name="description"
      content="Nathan Tranquilla is a Next-Gen Web Development Consultant specializing in making web applications more robust through technology choices of the future"
    />
    <meta name="author" content="Nathan Tranquilla" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Favicon and Icons -->
    <link rel="icon" type="image/jpeg" sizes="16x16" href={logo16.src} />
    <link rel="icon" type="image/jpeg" sizes="32x32" href={logo32.src} />
    <link rel="icon" type="image/jpeg" sizes="48x48" href={logo48.src} />
    <link rel="icon" type="image/jpeg" sizes="96x96" href={logo96.src} />

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href={logo180.src} />

    <!-- Android/Chrome Icons -->
    <link rel="icon" type="image/jpeg" sizes="192x192" href={logo192.src} />
    <link rel="icon" type="image/jpeg" sizes="256x256" href={logo256.src} />
    <link rel="icon" type="image/jpeg" sizes="512x512" href={logo512.src} />

    <!-- Default favicon -->
    <link rel="shortcut icon" href={logo32.src} />

    <meta name="email" content="tranquilla.nathan@pm.me" />
    <link rel="canonical" href={canonicalUrl} />

    <meta name="keywords" content="Next-Gen Web Dev" />
  </head>
  <Body>
    {!nonav && <Header />}
    <main class={`col-start-1 col-end-4 row-start-2 ${classes || ""}`}>
      <slot />
    </main>
    {!nonav && <Footer />}
  </Body>


</html>
